.contact-subheader h6 {
  color: #fff !important;
}

.contact-subheader .subheader-line {
  background-color: #fff !important;
}

.invalid-message {
  border: 1px solid #fff;
  font-size: 0.8rem;
  color: #fff;
  margin-top: 8px;
  padding: 8px;
  width: fit-content !important;
  font-weight: bold;
}

.bi {
  margin-top: -3px;
  margin-right: 8px;
}
